@{
    ViewBag.Title = "About";
    ViewBag.Description = "من الصعب أن تذهب إلى مئات المواقع لتبحث عن جميع المنتجات المخفضة يومياً، لكن من السهل جداً ان تتصفح العروض اليومية بموقع يجمع لك أفضل المنتجات من أشهر وأفضل المواقع التركية ويترجمها لك للغة العربية لتتصفحها بسهولة وتنعم بأفضل العروض. ";
}

<div class="container container-240">
    <div class="banner-callus v2 spc1 image-bd effect_img2">
        <a href="asd"><img src="https://admin.firsaty.com/images/h1_b7.jpg" alt="" class="img-responsive"></a>
    </div>
</div>

<div class="bg-gradient" dir="rtl">
    <div class="container container-240">
        <div class="row pd2">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="about-element text-center">
                    <img src="~/Content/img/about/icon3.png" alt="">
                    <h3 class="about-title v2">فرصتي</h3>
                    <p class="about-desc">
                        فرصتي، أول منصة عربية متخصصة في التسويق الإلكتروني في تركيا! نبحث لك على أفضل المنتجات والعروض والأسعار ونترجمها للغة العربية ونضعها بين يديك.

                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="about-element text-center">
                    <img src="~/Content/img/about/icon1.png" alt="">
                    <h3 class="about-title v2">
                        العروض اليومية
                    </h3>
                    <p class="about-desc">
                        من الصعب أن تذهب إلى مئات المواقع لتبحث عن جميع المنتجات المخفضة يومياً، لكن من السهل جداً ان تتصفح العروض اليومية بموقع يجمع لك أفضل المنتجات من أشهر وأفضل المواقع التركية ويترجمها لك للغة العربية لتتصفحها بسهولة وتنعم بأفضل العروض.
                        .
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="about-element text-center">
                    <img src="~/Content/img/about/icon2.png" alt="">
                    <h3 class="about-title v2">
                        نظام الكاتالوج
                    </h3>
                    <p class="about-desc">لست بحاجة إلى الذهاب لكل ماركت لتجمع قائمة العروض وتقارن الأسعار، الآن من منزلك ومن نافذة واحدة تستطيع تصفح قائمة الأسعار لمعظم الماركات التركية مثل البيم والشوك وغيره العديد من الماركات مترجمة للغة العربية. </p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container container-240">
    <div class="banner-callus v2 spc1 image-bd effect_img2">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d192698.5509240736!2d29.152261630597867!3d41.005236709418945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa7040068086b%3A0xe1ccfe98bc01b0d0!2z2KXYs9i32YbYqNmI2YQ!5e0!3m2!1sar!2str!4v1601159307722!5m2!1sar!2str"
                frameborder="0"
                width="100%"
                style="border:0;padding-top:5%"
                allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>