@{
    ViewBag.Title = "Contact";
    ViewBag.Description = "لست بحاجة إلى الذهاب لكل ماركت لتجمع قائمة العروض وتقارن الأسعار، الآن من منزلك ومن نافذة واحدة تستطيع تصفح قائمة الأسعار لمعظم الماركات التركية مثل البيم والشوك وغيره العديد من الماركات مترجمة للغة العربية.";
}



<!--content-->
<div class="container container-240"dir="rtl">
    <div class="pd-banner v2">
        <a href="#" class="image-bd effect_img2"><img src="~/Contnet/img/o-banner.jpg" alt="" class="img-reponsive"></a>
    </div>
    <ul class="breadcrumb">
        <li><a href="#">الرئيسية</a></li>
        <li class="active">صفحة التواصل </li>
    </ul>
    <div class="e-contact" >
      
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-7">
                <div class="contact-info">
                    <h1 class="contact-title spc">معلومات التواصل</h1>
                    <p>
                   يمكنك التواصل معنا ليتم نشر اعلاناتك التجارية او الشخصية في موقعنا ...</p>
                </div>
                <div class="e-contact-address footer-about">
                    <h3 class="contact-title v2">العنوان</h3>
                    <ul class="footer-block-content">
                        <li class="address">
                            <span  dir="ltr">اسطنبول تركيا</span>
                        </li>
                        <li class="phone">
                            <span  dir="ltr" >(+90) 537 848 77 25</span>
                        </li>
                        <li class="email">
                            <span  dir="ltr">info@firsaty.com</span>
                        </li>
                        <li class="time">
                            <span  dir="ltr">7/24</span>
                        </li>
                    </ul>
                </div>

         
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5 pdl">
                <h1 class="contact-title spc">ارسل طلبك من هنا</h1>
                <form class="login-form" action="@Url.Action("Contact","Home")" method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <input type="text" id="author" class="form-control bdr" name="Name" value="" placeholder="الاسم *">
                        <input type="email" id="email" class="form-control bdr" name="Mail" value="" placeholder="البريد الالكتروني *">
                        <input type="text" id="phone" class="form-control bdr" name="Phone" value="" placeholder="رقم الهاتف">
                        <textarea id="message" class="form-control bdr3" name="Subject" rows="10" placeholder="طلبك..."></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-submit btn-gradient">
                            ارسال
                        </button>
                    </div>
                </form>
            </div>
        </div>
    
    </div>
</div>