@model firsaty.Models.Category
@{ Layout = null;}


<div class="product-tab v2" dir="rtl">
    <div class="container container-240">
        <div class="ecome-heading style4 spc4">
            <div class="title-icon e-gradient v2" style="padding-right:25px">
                @Model.Name
            </div>
            <ul class="product-tab-sw2" >
                <li class=""><a data-toggle="tab" href="#asdasdasd" aria-expanded="true">مشاهدة المزيد</a></li>

            </ul>
        </div>
        @{ Html.RenderAction("ProductsBySub","Home",new { id=Model.ID}); }
   
    </div>
</div>
