@model firsaty.Models.Promotion
@{ Layout = null;}




<div class="container container-240">
    <div class="banner-callus v2 spc1 image-bd effect_img2">
        <a href="@Model.URL"><img src="https://admin.firsaty.com/@Model.Image" alt="" class="img-responsive"></a>
    </div>
</div>
