@model IEnumerable<firsaty.Models.Partner>


<!-- Brand  -->
<div class="brand v2">
    <div class="container container-240">
        <div class="owl-carousel owl-theme owl-brand js-owl-brand2">
            @foreach (var item in Model)
            {
                <div class="brand-item">
                    <a href="#" class="hover-images"><img src="https://admin.firsaty.com/@item.Image" style="object-fit:contain;height:100px; width:200px;" alt=""></a>
                </div>
            }


        </div>
    </div>
</div>