@model IEnumerable<firsaty.Models.PDF>
@{ Layout = null;}





<div class="e-category" >
    <div class="container container-240"dir="rtl">
        <div class="title-icon t-column mg-50">
            <div class="t-inside">
                <img src="~/Content/img/real.png" alt="">
            </div>
            <h1>لائحة العروض</h1>
        </div>
        <div class="row">

            @foreach (var item in Model)
            {

                <div class="col-xs-12 col-sm-4 col-md-4">



                    <div class="cate-item">
                        <div class="product-img">
                            <a href="@Url.Action("PDF","Home",new { id=item.ID})"><img src="https://admin.firsaty.com/@item.Image" alt="" class="img-reponsive"></a>
                        </div>
                        <div class="product-info" style="margin-right:5%;margin-top:5%;">
                            <h3 class="product-title"><a href="#"></a></h3>
                            <div class="product-price v2"><span>@item.Title</span></div>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</div>